# Git ignore list for grails project
*.class
*.iws
.classpath
Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath

/*.launch
/*.tmproj
/out
/docs
stacktrace.log
test/reports
/target
jetty-env.xml
/files
*~
._*
plugin.xml
*.zip
/nbproject/private/