<plugin name='dialog' version='0.1' grailsVersion='1.3.5 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/dialog</documentation>
  <type>DialogGrailsPlugin</type>
  <resources>
    <resource>DialogResources</resource>
    <resource>spring.resources</resource>
    <resource>org.open_t.dialog.DialogService</resource>
    <resource>org.open_t.dialog.FileService</resource>
    <resource>org.open_t.dialog.ListService</resource>
    <resource>org.open_t.dialog.DialogTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>