@CHARSET "UTF-8";

.help { background-image:url("icons/actions/16/help-contents.png");
		cursor:help;
		}
.cke_editable {
	color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}