
/*
input:required:invalid, input:focus:invalid { background-image: url(/dialog/css/theme/images/validation/invalid.png); background-position: right top; background-repeat: no-repeat; }
input:required:valid { background-image: url(/dialog/css/theme/images/validation/valid.png); background-position: right top; background-repeat: no-repeat; }
*/


.wide input { width:300px;}
.extrawide input { width:600px;}

.autocomplete-description {font-size:10px;}
.ac-idle { border: 0px solid #ffffff;padding:0px;}
.ac-selected { border: 1px solid #888;padding:3px; background: url("theme/images/ui-bg_highlight.png") repeat-x scroll 50% 50% #CCCCCC;
    border-radius: 3px;margin:1px;margin-top:4px;}
.ac-selected input { border: 0px solid #ddd;padding:0px;background-color: transparent;}
.ac-selecting { border: 0px solid #223311;padding:1px;}
.ac-icon {display: inline-block;vertical-align:middle;}
td.name { padding-top:4px;font-size:14px;}
td.value { padding-top:4px;;font-size:14px;}
div.dialog-message {margin-bottom:10px;font-style:italic}

.autocomplete-container { height:18px;display: inline-block;}

td.tinymce textarea {width:100%;}


table.rowreordering tr { cursor:pointer;}
div.errors {color:red;}
.help-icon,.help { background-image: url(../images/help-16x16.png);width:16px;height:16px;cursor:help;}
div.statusmessage { height:20px; margin-top:3px;margin-bottom:3px;float:left;width:100%;}


/* DIALOG */

.dialog table {
    padding: 5px 0;
    border: 1px solid #ccc;
    width: 100%
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}






.error {color: red;}
.action {min-height:16px; padding:2px 0 2px 13px;background-repeat:no-repeat;}

.btn:focus {outline:none;}