html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}


a:link, a:visited, a:hover {
    /*color: #666;*/
    font-weight: bold;
    text-decoration: none;
} 

h1 {
    color: #68A;
    font-weight: bold;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}



ul {
    padding-left: 15px;	
}

.body {
    margin: 0 15px 10px 15px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(theme/images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}

/* Error messages shown when server-side validation fails */

div.errors li {
	background: url(theme/images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}




/* ex main.css tables */

table {
    border: 1px solid #ccc;
    width: 100%
}


/* main.css dialog */
/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

a:link, a:visited, a:hover {
    /*color: #666; */
    font-weight: bold;
    text-decoration: none;
}
ul {
    padding-left: 15px;
}

.body {
    margin: 0 15px 10px 15px;
    width:800px;
}




.error {color: red;}
.action {min-height:16px; padding:2px 0 2px 13px;background-repeat:no-repeat;}


div.dialog-menu { float: left; width: 175px; }
div.dialog-menu ul {list-style-type: none;}
div.dialog-menu ul li {display:block;min-height:20px;font-weight:bold;color:#68A;border-bottom:1px solid #888;}
div.dialog-menu ul li div {padding: 5px 0;font-size:12px;}

div.dialog-menu ul ul {border-top:0px solid green}
div.dialog-menu ul ul li:hover {background-color:#DDD;cursor:pointer;}
div.dialog-menu ul ul li {font-weight:bold;color:#666;border-bottom:1px solid #888;}
div.dialog-menu ul ul li a {font-size:10px;}



// Fix dataTable header icons

.ui-state-default .ui-icon {
    background-image: url("images/ui-icons_6da8d5_256x240.png");
}
/* jquery...tom.css (line 95) */
.ui-icon-carat-2-n-s {
    background-position: -128px 0;
}
/* jquery...tom.css (line 110) */
.ui-icon {
    background-image: url("images/ui-icons_469bdd_256x240.png");
    height: 16px;
    width: 16px;
}

.DataTables_sort_wrapper .ui-icon { float:right;}
.dataTables_filter { float: right;}
.dataTables_length { width:200px;float:left;}

div.body {width:auto;}

.home { background-image: url("theme/icons/actions/16/gohome.png" ) !important; background-position: 0px 0px !important; }
.logout { background-image: url("theme/icons/actions/16/gnome-logout.png" ) !important; background-position: 0px 0px !important; }
#main-toolbar {border:1px solid #888;background-color:#888;height:20px;margin-bottom:10px;}

div.datatable {width:100%;float:left;}

.workflows { background-image: url("theme/icons/actions/16/document-properties.png"); }
.tasks { background-image: url("theme/icons/actions/16/document-properties.png"); }

.menu-icon { background-position: 0px 2px; background-repeat:no-repeat; padding:2px 2px 2px 24px;}

/* below is one line per menu item that just adds the appropriate icons for the menu item */
.menu-demo { background-image: url("theme/icons/actions/16/document-properties.png"); }
.menu-demo-items { background-image: url("theme/icons/categories/16/configuration_section.png");}

/* ---- end main.css --- */

.logo {}
.nav { width:auto;}
.title { }
.body { margin-top:10px; }


div.list {width:auto;margin-top:10px;margin-bottom:0px;paddding:0px;border:1px solid #CCC;}
div.statuslist {width:940px;}

.list table {padding:0px;margin-right:0px;border:none;margin-left:0px;}
.list th, .list td {border-left: 0px solid #CCC;}
.list tr td + td {border-left: 1px solid #CCC;}
.list tr th + th {border-left: 1px solid #CCC;}
div#editpane {margin-left:10px;}


tr.total td {border-top:2px solid #ddd;   font-weight: bold; border-left:0px;}
span.user {background: transparent url(theme/images/skin/preferences-user-information.png) 5px 50% no-repeat; padding-left:24px;}
span.logout {background: transparent url(theme/images/skin/system-log-out.png) 5px 50% no-repeat;padding-left:24px;}

.logo a img { border:none;}

div.itemlist {margin-top: 10px;}


.xnav {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 7px 0px;
    
}

th.action {width:130px;}
tbody.sortable tr {cursor:move;}

.DataTables_sort_wrapper .ui-icon { float:right;}
.dataTables_filter { float: right;}
.dataTables_length { width:300px;float:left;}


div.body {width:auto;}
.page-body {width:100%;float:left;}

.body {
    float: none;
    margin: 0px 15px 10px 15px;
    xwidth:800px;
   xmargin-left:200px;
}

div.table-title { margin-bottom: 2px;}
div.table-title h1 {color:#68a;margin:0px;padding:4px;}

.list-toolbar-button {padding: 2px 6px}
span.list-toolbar-button { cursor:pointer;font-weight:bold;color:#666}
.list-action-button {padding: 1px 2px; margin:0px;font-size:8px;}
.list-action-button:hover {color:#68a;background-color:white;}
span.list-action-button { cursor:pointer;font-weight:bold;color:#666}

div#topleft-logo {margin-left:6px;color:#68a;}
div#topleft-logo h1 {color:#68a;}
div#topleft-logo h1 .red {color:red;font-size:16px;}


.hideElement { display: none; }


/*
input:required:invalid, input:focus:invalid { background-image: url(/dialog/css/theme/images/validation/invalid.png); background-position: right top; background-repeat: no-repeat; }
input:required:valid { background-image: url(/dialog/css/theme/images/validation/valid.png); background-position: right top; background-repeat: no-repeat; }
*/


.wide input { width:300px;}
.extrawide input { width:600px;}

.autocomplete-description {font-size:10px;}
.ac-idle { border: 0px solid #ffffff;padding:0px;}
.ac-selected { border: 1px solid #888;padding:3px; background: url("theme/images/ui-bg_highlight.png") repeat-x scroll 50% 50% #CCCCCC;
    border-radius: 3px;margin:1px;margin-top:4px;}
.ac-selected input { border: 0px solid #ddd;padding:0px;background-color: transparent;}
.ac-selecting { border: 0px solid #223311;padding:1px;}
.ac-icon {display: inline-block;vertical-align:middle;}
td.value { padding-top:4px;}
.autocomplete-container { height:18px;display: inline-block;}

td.tinymce textarea {width:100%;}


table.rowreordering tr { cursor:pointer;}
div.errors {color:red;}
