/*
 *= require /ext/DataTables/datatables.css
*/

table.table.dataTable { margin-bottom: 6px !important;}
div.dt-container div.dt-paging ul.pagination  { float:right; }
div.dt-search { float: right; margin-bottom: 6px !important; }
