.autocomplete-description { font-size: 10px; }
.autocomplete-container { height: 18px; display: inline-block; }

.ac-idle { border: 0px solid #ffffff;padding:0px;}
.ac-selected { border: 1px solid #888;padding:3px; background: scroll 50% 50% #CCCCCC;
    border-radius: 3px;margin:1px;margin-top:4px;}
.ac-selected input { border: 0px solid #ddd;padding:0px;background-color: transparent;}
.ac-selecting { border: 0px solid #223311;padding:1px;}
.ac-icon {display: inline-block;vertical-align:middle;}

div.dialog-message {margin-bottom:10px;font-style:italic}

tr.prop td {
    padding-top:8px;
    padding-right:4px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
}

p.error-message {
    font-size: 14px;
    color:red;
    padding-top:4px;
}

tr.error input,tr.error textarea,tr.error select {
    border-color: red !important;
    outline: 0 none;
}

tr.error td input:focus,tr.error td textarea:focus,tr.error td select:focus {
    border-color: red !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(236,168,82,0.6) !important;
    outline: 0 none;
}


table.rowreordering tr { cursor:pointer;}
.dialog-horizontal-wrapper {display: inline-block; white-space: nowrap;}
div.statusmessage { height:20px; margin-top:3px;margin-bottom:3px;float:left;width:100%;}


/* DIALOG */

.dialog table {
    padding: 5px 0;
    border: 1px solid #ccc;
    width: 100%
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
}
.prop .value {
    text-align: left;
}

.action {min-height:16px; padding:2px 0 2px 13px;background-repeat:no-repeat;display:inline-block;}

.btn:focus {outline:none;}

span.help-block { display: none;}
span.error-message { color:#a94442;}
.btn-toolbar-above-datatable {
    margin-bottom:5px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.row-no-top-margin {
    margin-top: 0 !important;
}

.select2-label { display:block;}
.select2-description { display:block;font-size:75%;}
div.tab-pane {
        margin-top: 10px;
}

.btn-group {
    display:flex;
    min-height: 0px;

}
.navbar.btn-group {
    margin-bottom:20px;
}
